{% extends 'layouts/main.html' %}

{% block content %}
<div class="jarviswidget jarviswidget-sortable" id="widget-id-3" role="widget" style="position: relative; opacity: 1;">
    <header role="heading">
        <h2>Pending reviews</h2>
        <div class="jarviswidget-ctrls" role="menu">
            <a href="#" class="button-icon jarviswidget-delete-btn">
                <i class="trashcan-10"></i>
            </a>
            <a href="#" class="button-icon jarviswidget-edit-btn">
                <i class="pencil-10 "></i>
            </a>
            <a href="#" class="button-icon jarviswidget-fullscreen-btn">
                <i class="fullscreen-10 "></i>
            </a>
            <a href="#" class="button-icon jarviswidget-toggle-btn">
                <i class="min-10 "></i>
            </a>
        </div>
        <span class="jarviswidget-loader"></span>
    </header>
    <!-- wrap div -->
    <div role="content">

        <div class="jarviswidget-editbox">
            <div>
                <label>Title:</label>
                <input type="text">
            </div>
            <div>
                <label>Styles:</label>
                <span data-widget-setstyle="purple" class="purple-btn"></span>
                <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
                <span data-widget-setstyle="green" class="green-btn"></span>
                <span data-widget-setstyle="yellow" class="yellow-btn"></span>
                <span data-widget-setstyle="orange" class="orange-btn"></span>
                <span data-widget-setstyle="pink" class="pink-btn"></span>
                <span data-widget-setstyle="red" class="red-btn"></span>
                <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
                <span data-widget-setstyle="black" class="black-btn"></span>
            </div>
        </div>

        <div class="inner-spacer">
            <table class="table table-bordered table-striped responsive" id="s-table">
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Branch</th>
                        <th>Commit</th>
                        <th>From</th>
                        <th>Reviewer</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for commit in commitList %}
                        <tr>
                            <td>{{commit.type}}</td>
                            <td>{{commit.branch}}</td>
                            <td>{{commit.commit}}</td>
                            <td>{{commit.from}}</td>
                            <td>{{commit.to}}</td>
                            <td>
                                {% if commit.to == null %}
                                <a href="/take/{{userData.email}}/{{commit.commit}}">Take it</a> -
                                {% endif %}
                                <a target="_blank" href="{{ commit.url }}">GitLab</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-actions">
                <a href="/" class="btn medium btn-primary">
                    Report
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
