{% extends 'layouts/main.html' %}

{% block content %}
<div class="jarviswidget jarviswidget-sortable" id="widget-id-0" role="widget" style="position: relative; opacity: 1;">
    <header role="heading">
        <h2>Delegate</h2>
        <div class="jarviswidget-ctrls" role="menu">
            <a href="#" class="button-icon jarviswidget-edit-btn">
                <i class="pencil-10 "></i>
            </a>
            <a href="#" class="button-icon jarviswidget-fullscreen-btn">
                <i class="fullscreen-10 "></i>
            </a>
            <a href="#" class="button-icon jarviswidget-toggle-btn">
                <i class="min-10 "></i>
            </a>
        </div>
        <span class="jarviswidget-loader"></span>
    </header>
    <!-- wrap div -->
    <div role="content">

        <div class="jarviswidget-editbox">
            <div>
                <label>Title:</label>
                <input type="text">
            </div>
            <div>
                <label>Styles:</label>
                <span data-widget-setstyle="purple" class="purple-btn"></span>
                <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
                <span data-widget-setstyle="green" class="green-btn"></span>
                <span data-widget-setstyle="yellow" class="yellow-btn"></span>
                <span data-widget-setstyle="orange" class="orange-btn"></span>
                <span data-widget-setstyle="pink" class="pink-btn"></span>
                <span data-widget-setstyle="red" class="red-btn"></span>
                <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
                <span data-widget-setstyle="black" class="black-btn"></span>
            </div>
        </div>

        <div class="inner-spacer">
            <!-- content goes here -->
            <form class="form-horizontal themed" action="/report" method="post">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="hash">Commit hash:</label>
                        <div class="controls">
                            <input id="hash" class="span12" type="text" name="hash" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="branch">Branch: </label>
                        <div class="controls">
                            <input id="branch" class="span12" type="text" name="branch" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="type">Type: </label>
                        <div class="controls">
                            <select class="span12" name="type" required>
                                <option value="lde">LDE</option>
                                <option value="nde">NDE</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="reset" class="btn medium btn-danger">
                            Cancel
                        </button>
                        <button type="submit" class="btn medium btn-primary">
                            Report
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
